body{
    height: 100vh;
    background-image: url("img/ep_naturalwhite.png");
}

.dws-wrapper {
    max-width: 650px;
    margin: auto;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul.akkordion {
    display: flex;
    justify-content: center;
    padding: 0;
}
ul.akkordion li {
    width: 50px;
    overflow: hidden;
    padding: 1px 1px 0 0;
    cursor: pointer;
    display: block;
    -webkit-box-shadow: 1px 3px 15px #7e887e;
    -moz-box-shadow: 1px 3px 15px #7e887e;
    box-shadow: 1px 3px 15px #7e887e;
    transition: 1.5s;
}
.myImg {
    height: 100%;
}
ul.akkordion img {
    width: 300px;
}
ul.akkordion li:hover {
    width: 300px;
    -webkit-box-shadow: 1px 3px 15px #36c5fa;
    -moz-box-shadow: 1px 3px 15px #36c5fa;
    box-shadow: 1px 3px 15px #36c5fa;
    transition: 1s;
}
ul.akkordion li:nth-child(4) {
    width: 300px;
}
ul.akkordion:hover li:nth-child(4) {
    width: 50px;
}
ul.akkordion li:nth-child(4):hover {
    width: 300px;
}
.modal-content {
    margin: auto;
    display: block;
    width: 60%;
   /* width: auto;*/
    /* max-width: 700px;    */

}
/* modal image (background)*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
    }
    /* Modal Content (image) */
/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}
/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    /* .modal-content {
        width: 100%;
    } */
}
.prob {
    display: none;
}